<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: rgb(18, 6, 253);;">
    <a class="navbar-brand" routerLink="/"><b>_PRIME HOSPITAL_</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/"><i>Home</i> <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="doctors/doctor/add"><i>Create Doctor</i></a>
        <a class="nav-item nav-link" routerLink="doctor/view"><i>Search Doctor</i></a>
        <a class="nav-item nav-link" routerLink="patients/patient/add"><i>Create Patient</i></a>
        <a class="nav-item nav-link" routerLink="patient/view"><i>Search Patient</i></a>
      </div>
    </div>
  </nav>